# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
npm-debug.log*

# Build files
dist/
build/

# Environment variables
.env

# Dependency directories
node_modules/
jspm_packages/

# IDEs and editors
.idea/
.vscode/
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
